<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.first.project.dto.UserVo" alias="User" />
		<typeAlias type="com.first.project.dto.TodoVo" alias="Todo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="Mapper/UserMapper.xml" />
		<mapper resource="Mapper/TodoMapper.xml" />
	</mappers>

</configuration>
